<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ece381"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:icon="@drawable/sound_system"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name=".MyApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/songs_title"
            android:theme="@style/MainTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.ece381.MainActivity"
            />
        </activity>
        <activity android:name=".play"
            android:label="@string/ctrl_panel"
            android:theme="@style/PlayTheme" android:icon="@drawable/av_play">
        </activity>
        <activity android:name=".PlaylistActivity"
            android:label="@string/list_title"
            android:theme="@style/ListTheme" android:icon="@drawable/collections_view_as_list">
        </activity>
        <activity
            android:name=".SongActivity"
            android:label="@string/title_activity_song" >
        </activity>
        <activity
            android:name=".PlaylistBuilderActivity"
            android:label="@string/title_activity_playlist_builder" >
        </activity>
        <activity
            android:name=".TextEntryDialog"
            android:label="Enter the playlist name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".AllSongsListActivity"
            android:label="@string/title_activity_all_songs_list" >
        </activity>
        
        <activity
            android:name="com.example.ece381.MixerActivity"
            android:label="@string/MixerActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".SongPropertyActivity"
            android:label="@string/SongPropertyActivity">
        </activity>
    </application>
</manifest>